p {
  margin: 0 0 5px 0;
}

.login-form input {
    display: block;
    margin-bottom: 10px;
}

.login-form p {
    display: block;
}

.error {
    color: red;
    margin: 1rem 0 1rem 0;
}